<h1> 
	nous comptons jusqua : <%= num %> 
</h1>	


<p>
	<% 
		for(var i = 0; i <= num; i++){
	%>

	<%=i %>

	<% 
		}
	%>
</p> 

<p>
	Tant que j'y suis, je prends un nom au hasard qu'on m'a envoyé :
	<%= noms[Math.round(Math.random() * (noms.length - 1))] %>
</p> 